
body {
  background: hsl(220, 20%, 95%);
  color: #333;
  /*
  font: 17px/24px 'Hind', sans-serif;
  */
  font: 18px/26px 'Lusitana', Georgia, serif;
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 52px 26px;
}

h1 {
  color: hsl(220, 20%, 70%);
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
}

a {
  color: hsl(220, 70%, 40%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0 0 0 26px;
}

li {
  padding-bottom: 13px;
}
