@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v3/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

html {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1000px) {
  html {
  }
}

body {
  overflow-y: scroll;
  margin: auto;
  padding: 20px 0px 30px 0px;
  max-width: 800px;
  position: relative;
  font-family: Papyrus, Lucida Sans Unicode, Geneva, sans-serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #050505;
}

h1, h2, h3 { font-weight: normal; margin: 0; letter-spacing: .03em; }
h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 119%; }

#title > div {
  padding: 3px 25px 7px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#title .line {
  padding: 0;
  height: 3px;
  border-top: 1px dashed;
}

#main {
  width: 75%;
  float: left;
  padding: 0px 25px 70px;
}

#full {
  padding: 15px 25px 70px;
}

#side {
  text-align: right;
  margin-left: 80%;
  padding: 10px 25px 70px 0;
}

a {
  color: #33333d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.post { margin: 15px 0; }
.date { color: #606868; font-size: 80%; }
.meta { color: #606868; font-size: 89%; }

.tag { cursor: pointer; color: #326; font-size: 80%; background: #eef; padding: 0 2px; margin-right: 5px; }
.tag:hover { background: #ddf; }
.tag.selected { background: #cff; color: #166; }
.tag.selected:hover { background: #aff; }

.taglist, .taglist li {
  padding: 0; margin: 0;
  list-style: none;
}
ul.taglist li:before { content: ""; }

pre, code {
  font-family: "Ubuntu Mono", monospace;
}

code {
  
  background: #eef;
  padding: 1px 5px 1px 5px;
  font-size: 90%;
}

pre code {
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: 90%;
}

pre {
  line-height: 1.2;
  border-left: 1px dashed;
  margin-left: -18px;
  padding-left: 14px;
}

img {
  /*max-width: 100%;
  max-height: 100%;*/
  border: 0px;
}

.undertitle a:hover {
  text-decoration: none;
}

#full .content a {
  text-decoration: underline;
}