html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  max-width: 38em;
  margin: auto;
  text-align: left;
}

h1 {
  line-height: 1.0em;
}

img {
  max-width: 100%;
}

.author {
  text-align: right;
}
