html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  max-width: 46em;
  margin: auto;
  text-align: left;
  padding-bottom: 1.8em;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  line-height: 1.0em;
}

img {
  max-width: 100%;
  border-radius: 2px;
}

.author {
  text-align: right;
}

pre {
  padding: 5px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  overflow: auto;
  width: auto;
  max-height: 600px;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

code {
  white-space: pre-wrap;
  padding: 1px 5px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 85%;
  border-radius: 3px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  text-decoration: none;
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
}
a:hover {
  color: #607D8B;
  border-bottom: 1px solid #607D8B;
}