html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  max-width: 46em;
  margin: auto;
  text-align: left;
  padding-bottom: 1.8em;
  font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  line-height: 1.0em;
}

img {
  max-width: 100%;
}

.author {
  text-align: right;
}

pre {
  padding: 5px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  margin-bottom: 10px;
  background-color: #eee;
  overflow: auto;
  width: auto;
  max-height: 600px;
}

code {
  white-space: pre-wrap;
  padding: 1px 5px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  background-color: #eee;
}
