---
title: nikosbaxevanis.com
---

<h1>Nikos Baxevanis</h1>
<ul>
    <li><a href="mailto:code@nikosbaxevanis.com">email</a>
    </li>
    <li><a href="https://twitter.com/nikosbaxevanis">twitter</a>
    </li>
    <li><a href="https://github.com/moodmosaic">github</a>
    </li>
    <li><a href="https://vimeo.com/moodmosaic">vimeo</a>
    </li>
    <li><a href="http://www.ohloh.net/accounts/moodmosaic">ohloh</a>
    </li>
</ul>
<div class="abstract">
    <h2>Abstract</h2>
    <p>A full-stack programmer with 9+ years experience of working across a broad range of technologies and sectors, and a strong interest for crafting high quality solutions, using the right tools, techniques, and methodologies.</p>
</div>
<div class="experience">
    <h1>Experience</h1>
    <div>
        <h2>Nikos Baxevanis</h2>
        <div>
            <h3>Consultant / Programmer, Architect</h3>
            <h4>2011-Present</h4>
            <!-- <h5></h5> -->
            <p>Serve as the primary full-stack programmer and software architect for controlling the development and delivery of web applications for domestic and international clients.</p>
            <ul>
                <li>Create Auto Insurance and POS web applications with ASP.NET Web API, AngularJS, OAuth, and Microsoft Azure to maximize scalability and cost effectiveness.</li>
                <li>Define and develop internal policies, procedures, and techniques to improve the efficiency of workflows by helping team members adapt Pair Programming, Git, Code Reviews, and Test-Driven Development.</li>
                <li>Work with a network of professionals with expertise in a variety of programming languages, to extend legacy systems to the web and mobile devices using ASP.NET Web API (REST, Level 2).</li>
                <li>Fine-tune the performance of Insurance web applications by rewriting complex T-SQL statements, optimizing the usage of Redis, and O/R mappers, Entity Framework, iBATIS, and NHibernate.</li>
                <li>Contribute to Microsoft .NET community by writing articles, and working on high quality open source projects since 2011.</li>
            </ul>
        </div>
    <div>
        <h2>European Union Minettas Insurance</h2>
        <div>
            <h3>Programmer, Architect</h3>
            <h4>2010-2011</h4>
            <!-- <h5></h5> -->
            <p>Functioned as the technical lead responsible for designing  and developing a major rewrite of the existing IBM System-i infrastructure in Microsoft .NET critical in daily Auto Insurance operations.</p>
            <ul>
                <li>Prepared and presented technical requirements  to stakeholders, and researched, with a team of 2, on Rhino Service Bus, ESENT, and message exchange patterns with WCF.</li>
                <li>Created Metro user interfaces with WPF and applied Asynchronous Workflows in C# using Jeffrey Richter's Power Threading library.</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Toplogic P. Roufogalis</h2>
        <div>
            <h3>Programmer, Architect</h3>
            <h4>2005-2010</h4>
            <!-- <h5></h5> -->
            <p>Performed role as lead programmer of Topologic GIS products; highly available vehicle tracking systems, Autodesk AutoCAD add-ins, and native Windows Mobile geospatial utilities.</p>
            <ul>
                <li>Managed full project lifecycle with company owner, P. Roufogalis, and resolved all project related-issues.</li>
                <li>Created highly available GIS products with Jeffrey Richter's Power Threading library, which provides Asynchronous Workflows in C#, and Java Topology Suite, consumed in C# via IKVM.NET. These products are live since 2008, extensible, and maintainable.</li>
                <li>Translated and converted AutoCAD add-ins from VBA, and Lisp, into C#. This enabled customers to keep their investments and Topologic to continue delivering on time and under budget using existing, and tested, algorithms.</li>
            </ul>
        </div>
    </div>
</div>