---
title: nikosbaxevanis.com
---

<h1>Nikos Baxevanis</h1>
<ul>
    <li><a href="mailto:code@nikosbaxevanis.com">email</a>
    </li>
    <li><a href="/">blog</a>
    </li>
    <li><a href="https://twitter.com/nikosbaxevanis">twitter</a>
    </li>
</ul>
<div class="abstract">
    <h2>Abstract</h2>
    <p>Professional full-stack programmer with a strong interest for crafting high quality solutions. Core contributor to AutoFixture.</p>
</div>
<div class="experience">
    <h1>Experience</h1>
    <div>
        <h2>Nikos Baxevanis</h2>
        <div>
            <h3>Consultant / Programmer, Architect</h3>
            <h4>2011-Present</h4>
            <!-- <h5></h5> -->
            <p>Serve as the primary full-stack programmer and software architect for controlling the development and delivery of web applications for domestic and international clients.</p>
        </div>
        <div>
            <h2>European Union Minettas Insurance</h2>
            <div>
                <h3>Programmer, Architect</h3>
                <h4>2010-2011</h4>
                <!-- <h5></h5> -->
                <p>Functioned as technical lead, responsible for designing and developing a complete rewrite in .NET of the existing IBM System-i infrastructure.</p>
            </div>
        </div>
        <div>
            <h2>Toplogic P. Roufogalis</h2>
            <div>
                <h3>Programmer, Architect</h3>
                <h4>2005-2010</h4>
                <!-- <h5></h5> -->
                <p>Performed role as lead programmer of Topologic products; highly available vehicle tracking systems, Autodesk AutoCAD add-ins, and native Windows Mobile geospatial utilities.</p>
            </div>
        </div>
    </div>