---
title: nikosbaxevanis.com
---

<h1>Nikos Baxevanis</h1>
<ul>
    <li><a href="mailto:code@nikosbaxevanis.com">Email</a>
    </li>
    <li><a href="https://twitter.com/nikosbaxevanis">Twitter</a>
    </li>
    <li><a href="https://github.com/moodmosaic">Github</a>
    </li>
    <li><a href="https://vimeo.com/moodmosaic">Vimeo</a>
    </li>
    <li><a href="http://www.ohloh.net/accounts/moodmosaic">Ohloh</a>
    </li>
</ul>
<h2>Abstract</h2>
<p>A professional and enthusiast full stack programmer/architect with a strong passion for crafting high quality solutions, using the right tools, technologies, techniques and, most importantly, methodologies.</p>
<div class="experience">
    <h1>Experience</h1>
    <div>
        <h2>Diolkos</h2>
        <div>
            <h3>Lead Programmer, B2B Solutions</h3>
            <h4>December 2013 - March 2014</h4>
            <h5>JavaScript, AngularJS, C#, ASP.NET Web API, Auth0, Simple.Data</h5>
            <p>Created a business-to-business application for Web Broker with ASP.NET Web API, AngularJS, and Auth0. This solution expands Web Broker to new potential clients.</p>
        </div>
        <div>
            <h3>Programmer, Web Broker</h3>
            <h4>September 2013 - December 2013</h4>
            <h5>JavaScript, AngularJS, C#, ASP.NET Web API, Microsoft HTTP Client Libraries</h5>
            <p>Created .NET clients consuming Web Services exposed by a commercial insurance platform. Helped to create insurance data-migration tools.</p>
        </div>
        <div>
            <h3>Programmer, Web Broker</h3>
            <h4>June 2013 - September 2013</h4>
            <h5>C#, ASP.NET MVC, Redis, iBATIS, Transact-SQL</h5>
            <p>Improved various parts of Web Broker for performance. Rewrote complex SQL statements. Optimised the usage of data mapping tools.</p>
        </div>
        <div>
            <h3>Lead Programmer, Workflow</h3>
            <h4>March 2013 - June 2013</h4>
            <h5>Git, TeamCity, C#, ASP.NET MVC, JavaScript</h5>
            <p>Worked with a team of five developers in Web Broker, an established insurance web application. Helped team members to adapt Git, code reviews, and pull-requests.</p>
        </div>
    </div>
    <div>
        <h2>MPASS</h2>
        <div>
            <h3>Lead Programmer and Software Architect</h3>
            <h4>December 2012 - February 2013</h4>
            <h5>C#, XAML, WPF, MVVM, Caliburn.Micro</h5>
            <p>Created an information center for Alfa-Beta Vassilopoulos supermarkets named 'my AB touch point'.</p>
        </div>
        <div>
            <h3>Programmer</h3>
            <h4>October 2012 - December 2012</h4>
            <h5>VB6 to C#/.NET project conversion, Windows Forms</h5>
            <p>Maintained and extended an existing product for Alfa-Beta Vassilopoulos supermarkets named 'AB mobile coupons'.</p>
        </div>
    </div>
    <div>
        <h2>Betabug</h2>
        <div>
            <h3>Programmer</h3>
            <h4>May 2012 - September 2012</h4>
            <h5>Python, Pyramid, JavaScript, Darcs</h5>
            <p>Added new features to Umberto Saxer Trainings AG web e-learning system.<blockquote>Although I mostly have a Microsoft Windows and Visual Studio background, in this project I worked entirely with OS X, Sublime Text, and Darcs.</blockquote></p>
        </div>
    </div>
    <div>
        <h2>Upcom</h2>
        <div>
            <h3>Lead Programmer and Software Architect</h3>
            <h4>December 2011 - April 2012</h4>
            <h5>JavaScript, jQuery Mobile, C#, ASP.NET Web API, Dapper</h5>
            <p>Extended a legacy system to the web and mobile devices using ASP.NET Web API (REST, Level 2).</p>
        </div>
        <div>
            <h3>Lead Programmer</h3>
            <h4>June 2011 - December 2011</h4>
            <h5>C#, ASP.NET MVC, Telerik Extensions For ASP.NET MVC, JavaScript</h5>
            <p>Helped in the development and architecture of Bebat’s CRM web application.</p>
        </div>
    </div>
    <div>
        <h2>AutoFixture</h2>
        <div>
            <h3>Core Contributor</h3>
            <h4>May 2011 - Present</h4>
            <h5>C#, F#, Open Source, Test-Driven Development, SOLID, xUnit Test Patterns</h5>
            <p>Created various generators, builders, and relays. Created auto-mocking extensions for FakeItEasy and Foq. Added support for traversing Regular Expressions. Added support for binding on-the-fly equality semantics to types.</p>
        </div>
    </div>
    <div>
        <h2>BetKernel</h2>
        <div>
            <h3>Lead Programmer</h3>
            <h4>January 2011 - May 2011</h4>
            <h5>C#, Threading, Algorithms, Domain-Driven Design</h5>
            <p>Integrated an online betting web application with external subsystems using Circuit Breakers, Gateways, and Anticorruption Layers.</p>
        </div>
    </div>
    <div>
        <h2>European Union Minettas Insurance</h2>
        <div>
            <h3>Programmer</h3>
            <h4>January 2010 - January 2011</h4>
            <h5>C#, Rhino Service Bus, MSMQ, WCF, NHibernate, WPF, XAML</h5>
            <p>Part of a small team of programmers to build a vehicle insurance enterprise application.</p>
        </div>
    </div>
    <div>
        <h2>Topologic P. Roufogalis</h2>
        <div>
            <h3>Lead Programmer</h3>
            <h4>July 2007 - June 2009</h4>
            <h5>C#, Threading, APM, Asynchronous Workflows, Jeffrey Richter's AsyncEnumerator</h5>
            <p>Created scalable, real-time, GIS applications.</p>
        </div>
        <div>
            <h3>Programmer</h3>
            <h4>June 2005 - June 2007</h4>
            <h5>VBA, Lisp, C#, OSGeo FDO, AutoCAD API</h5>
            <p>Created add-ins for AutoCAD, AutoCAD Civil 3D, and AutoCAD Map 3D.</p>
        </div>
    </div>
</div>