div.dashboard
  <img alt="moodmosaic" height="172.5" src="http://nikosbaxevanis.com/images/home.jpg" width="172.5">
  <h1>Nikos Baxevanis</h1>
  <p>Delivering source code of fine quality, since 2010.</p>
  <p>Contributing to&nbsp;
    <a target="_blank" href="https://github.com/AutoFixture/AutoFixture">AutoFixture</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/AtomEventStore">AtomEvenStore</a>,&nbsp;
    <a target="_blank" href="https://github.com/moodmosaic/Fare">Fare</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/Qaiain">Qaiain</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/Exude">Exude</a>,&nbsp;
    <a target="_blank" href="https://github.com/ploeh/Albedo">Albedo</a>,&nbsp; and others.
  </p>
  <p> You can read some&nbsp;
    <a target="_blank" href="/testimonials">testimonials</a> and contact Nikos via&nbsp;
    <a target="_blank" href="https://github.com/moodmosaic/feedback">github</a> or&nbsp;
    <a target="_blank" href="https://twitter.com/nikosbaxevanis">twitter</a>.
  </p>

div.archive
  - for thingie in entries do
    div.archive-item
      span.archive-date #{thingie.date.strftime("%B %d, %Y")}
      a.archive-title href=thingie.url #{thingie.title}
      
div.footer
  | Be notified of new posts. 
  a href="/feed" Subscribe to the web feed.