div.dashboard
  <img alt="moodmosaic" height="172.5" src="http://nikosbaxevanis.com/images/home.jpg" width="172.5">
  <h1>Nikos Baxevanis</h1>
  <p> Associated with&nbsp;
    <a target="_blank" href="https://github.com/AutoFixture/AutoFixture">AutoFixture</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/AtomEventStore">AtomEvenStore</a>,&nbsp;
    <a target="_blank" href="https://github.com/moodmosaic/Fare">Fare</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/Qaiain">Qaiain</a>,&nbsp;
    <a target="_blank" href="https://github.com/GreanTech/Exude">Exude</a>,&nbsp;
    <a target="_blank" href="https://github.com/ploeh/Albedo">Albedo</a>,&nbsp; and others.
  </p>
  <p> You can read some&nbsp;
    <a target="_blank" href="/testimonials">testimonials</a> and contact Nikos via&nbsp;
    <a target="_blank" href="https://github.com/moodmosaic/feedback">github</a> or&nbsp;
    <a target="_blank" href="https://twitter.com/nikosbaxevanis">twitter</a>.
  </p>